body {
  background: white url("images/background.jpeg") no-repeat;
  background-size: 100%;
  font-size: 2rem;
  color:white;
}
li a {
  color: gold
}
a {
  color: aqua;
  font-weight: 900;
}
.content {
  background-color: black;
}