body {
  margin: 0;
  font-size: 2rem;
  color:black;
  background: white url("images/background.jpeg") no-repeat;
  background-size: cover;
  min-height: 59rem;
}
li a {
  color: gold
}
a {
  color: aqua;
  font-weight: 900;
}
.content {
  background-color: black;
  padding: 2em 0em;
  color: white;
}